presidio-analyzer
presidio-anonymizer
spacy>=3.7.2,<3.8.0
fastapi
uvicorn
requests
scispacy
detoxify
sentence-transformers
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz
